:root {
    /* media screen adjust */

    --col-1: 8.333333333%;
    --col-2: 16.666666667%;
    --col-3: 25%;
    --col-4: 33.333333333%;
    --col-5: 41.666666667%;
    --col-6: 50%;
    --col-7: 58.333333333%;
    --col-8: 66.666666667%;
    --col-9: 75%;
    --col-10: 83.666666667%;
    --col-11: 91.666666667%;
    --col-12: 100%;


    /* ============================================= */

    /* ====================color====================== */

    --white:white;
    --red: red;
    --lite-red:rgb(250, 50, 50);

    --yellow: yellow;
    --green: green;
    --blue: blue;
    --lite-blue:rgb(48, 48, 252) ;
    --grey: gray;
    --black: black;
    --pink: pink;
    --steelblue: steelblue;
    --skyblue: skyblue;
    --tomato: tomato;
    --orange: orange;
    --navy: navy;
    --: ;
    --: ;


    /* ============================================= */

    /* ====================margin====================== */


    --mg-10: 10px;
    --mg-20: 20px;
    --mg-30: 30px;
    --mg-40: 40px;
    --mg-50: 50px;
    --mg-60: 60px;
    --mg-70: 70px;
    --mg-80: 80px;
    --mg-90: 90px;
    --mg-100: 100px;
    --mg-150: 150px;
    --mg-200: 200px;
    --mg-250: 250px;
    --mg-300: 300px;
    --mg-350: 350px;
    --mg-400: 400px;
    --mg-450: 450px;
    --mg-500: 500px;


    /* ============================================= */

    /* ====================padding====================== */

    --pd-5: 5px;
    --pd-10: 10px;
    --pd-15: 15px;
    --pd-20: 20px;
    --pd-15: 25px;
    --pd-30: 30px;
    --pd-15: 35px;
    --pd-40: 40px;
    --pd-15: 45px;
    --pd-50: 50px;
    --pd-15: 55px;
    --pd-60: 60px;
    --pd-15: 65px;
    --pd-70: 70px;
    --pd-15: 75px;
    --pd-80: 80px;
    --pd-15: 85px;
    --pd-90: 90px;
    --pd-15: 95px;
    --pd-100: 100px;




    /* ============================text aline==================== */
    /* ============================justify======================= */
    --js-center: center;
    --js-left: start;
    --js-right: end;

}